.box {
    border: 3px solid black;
    width: 500px;
    text-align: center;
    margin: 3px;

}

.box.win {
    border-color: blue;
}

.box.lose {
    border-color: red;
}

.box.tie {
    border-color: black;
}

.item-img{
    width: 300px;
}

.main{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;

    margin: 10px;
    padding: 10px;
    color: white;
    border: none;
}

.win{
    /* border:3px solid blue; */
    color: blue;
}

.lose{
    /* border:3px solid red; */
    color: red;
}

.tie{
    /* border:3px solid black; */
    color: black;
}